<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="signup.sql" connectionString="Data Source=DESKTOP-MIA2LTR\MYSERVER;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>


    <add name="Database1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Asus\OneDrive\Documents\Database1.accdb" providerName="System.Data.OleDb"/>

    <add name="fee_payment.sql" connectionString="Data Source=DESKTOP-MIA2LTR\MYSERVER;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>


  </connectionStrings>

  
  
</configuration>